/*html{
    background-color: rgb(33, 33, 33);
}
*/
body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
    /*max-width: 80vw;
    justify-self: center;
    background-color: white;
    border: 0.5vw solid black;
    padding: 10px;*/
}
header>div>ul>li{
    list-style: none;
    text-decoration: none;
}
header>div>ul>li>a{
    color: black;
    text-decoration: none;
}
header>div>ul>li :hover{
    color: red;
}
header>div>ul{
    display: flex;
    gap: 15px;
    margin-right: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
    background-color: rgb(219, 219, 219);
}
.FurnitureShop{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.FurnitureShopText{
    font-size: xx-large;
}
.FurnitureShopSubtext{
    font-size: large;
}
header>ul>li>a{
    text-decoration: none;
    color: black;
}
.redBar{
    padding-top: 20px;
    background-color: #a02341;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin-top: 15px;
}
.redBar>div{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}
.redBarText{
    text-align: center;
    color: white;
}
.novinkyText{
    font-size: xx-large;
    color: blue;
    display: flex;
    justify-content: center;
}
.mainConent{
    display: flex;
    flex-direction: column;
}
.mainContentItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContentRow{
    display: flex;
    flex-direction: row;
    /*max-width: 1600px;
    max-height: 300px;*/
}
.ContentRow2{
    display: flex;
    flex-direction: row;
    /*max-width: 1600px;
    max-height: 300px;*/
}
.img{
    flex: 1;
}
.img>img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.contentTextDiv{
    flex: 1;
    text-align: center;
    margin-top: 15px;
}
.contentTextLorem{
    font-size: larger;
}
.aboutUsDiv{
    background-color: #a02341;
    display: flex;
    height: 100%;
    align-items: start;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}
.aboutUsTextDiv{
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-right: 20px;
    margin-top: 30px;
}
.aboutUsTextAboutUs{
    align-content: center;
    font-size: xx-large;
    margin-right: 10px;
}
.aboutUsTextLoremIpsum{
    box-sizing: border-box;
}
.aboutUsTextMore{
    align-content: start;
    text-align: end;
}
.aboutUsTextMore a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.aboutUsTextMore a :hover{
    color: red;
}
.contactDiv{
    background-color: #a02341;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}
.contactText{
    height: 100px;
    font-size: xx-large;
    align-self: center;
    align-content: center;
}
.contactContent{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}
.address{
    flex: 25;
}
.contactForm{
    height: 200px;
    flex: 50;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contactForm input,textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color:#a02341;
    color: rgb(173, 173, 173);
}
.linksDiv{
    flex: 25;
    margin-left: 60px;
}
.buttonDiv button{
    background: none;
    color: #fff;
    padding: 10px 15px;
    border: 2px solid white;
    font-size: 16px;
    display: flex;
    justify-self: center;
    margin-top: 10px;
    margin-left: 70px;
}
.links>ul>li{
    list-style: none;
    text-decoration: none;
}
.links>ul>li :hover{
    color: red;
}
.links>ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-self: left;
    padding-inline-start: 10px;
}
.links>ul>li>a{
    color: white
}
@media only screen and (max-width:720px){
    header{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .redBar{
        background-color: #a02341;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ContentRow{
        display: flex;
        flex-direction: column-reverse;
    }
    .ContentRow2{
        display: flex;
        flex-direction: column;
    }
    .aboutUsDiv{
        background-color: #a02341;
        display: flex;
        flex-direction: column;
    }
    .aboutUsImage img{
        width: 100%;
    }
    .aboutUsImage{
        width: 95%;
        display: flex;
        align-self: center;
    }
    .contactDiv{
        background-color: #a02341;
        height: auto;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .contactText{
        height: 100px;
        font-size: xx-large;
        align-self: center;
        align-content: center;
    }
    .contactContent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .contactForm{
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 85%
    }
    .address{
        grid-row: 2;
        grid-column: 1;
    }
    .linksDiv{
        grid-row: 2;
        grid-column: 2;
    }
}
@media only screen and (max-width:400px){
    .contactContent{
        display: flex;
        flex-direction: column;
    }
    .linksDiv{
        margin-left: 0px;
    }
    .menuDiv ul{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

}
